.button {
  align-items: center;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  gap: 0.4rem;
  justify-content: center;
  margin-top: 3.2rem;
  min-width: 24rem;
  padding: 0.8rem;
  transition: all 0.1s ease-in-out;
}

.button:hover {
  filter: brightness(80%);
}

.button svg {
  height: 3.2rem;
  width: 3.2rem;
}

.green {
  background-color: var(--primary);
  color: var(--text-over-primary);
}

.red {
  background-color: var(--error);
  color: var(--text-over-error);
}
