.buttonContainer button {
  margin: 0;
  min-width: auto;
  padding: 1rem;
}

.buttonContainer button svg {
  height: 2rem;
  width: 2rem;
}

.responsiveTable {
  border-radius: 0.8rem;
  overflow-x: auto;
}

.responsiveTable table {
  border-collapse: collapse;
  font-size: 1.6rem;
  min-width: 64rem;
  width: 100%;
}

.responsiveTable th {
  background-color: var(--gray-600);
}

.responsiveTable td {
  background-color: var(--gray-800);
}

.responsiveTable th,
.responsiveTable td {
  border-bottom: 0.2rem solid var(--gray-700);
  padding: 1.6rem;
  text-align: left;
}
